.containerlocs {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 605px;
    height: 618px;
    padding: 24px;
    background-color: #0D28A600;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    /* justify-content: center; */
    margin-left: 136px;
    /* margin-right: 136px; */
    margin-top: 24px;
    color: #000000 ;
    font-size: 1vw;
}

.h3 {
    position: absolute;
width: 140px;
height: 20px;
left: 223px;
top: 392px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Neutral/01 */

color: #000000;
}

.p {
    position: absolute;
width: 557px;
height: 75px;
left: 223px;
top: 600px;

font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 175%;
/* or 24px */


/* Neutral/03 */

color: #8A8A8A;

}

.remarks{
    font-size: 14px;
    width:min-content;
    height: min-content;
}