.styForm{   
        display: flex;
        background-color: white;
        border-width: 2px;
        border-color: black;
        box-shadow: 0 0 10px 10px #00000015;
        border-radius: 8px;
        margin-top: -42px;
        margin-left: 136px;
        margin-right: 136px;
        position: relative;
        z-index: 1;
        gap: 10px;
}

.stycard{
    display: flex;
    flex-direction: row;
    margin-left: 136px;
    margin-left: 136px;
}

.styfill{
    width: 208px;
    margin: 16px;
    color: #3C3C3C;
    flex-basis: 0;
    flex-grow: 1;
   
}

.btnstyle{
    width: 92px;
    height: 36px;
    margin: 20px 0;
}