.footstyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 136px;
}

.consttyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
