.all{
    display: flex;
    flex-direction: row;
    margin-left: 136px;
    margin-right: 136px;
    justify-content: space-between;
}
.containerlocating {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 618px;
    padding: 24px;
    background-color: #0D28A600;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 24px;
    color: #000000 ;
    font-size: 1vw;
}

.cardloc {
    width: 405px;
    height: 435px;
    padding: 24px;
    background-color: #0D28A600;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 24px;
    color: #000000 ;
}

